html {
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

html,
body,
#app {
	display: flex;
	flex-direction: column;

	& > * {
		flex-grow: 1;
	}
}

.app {
	display: flex;
	flex-direction: column;
	color: var(--clr-dark);
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

	&__header {
		min-height: 60px;

		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgb(225, 235, 255);
	}

	&__body {
		flex-grow: 1;

		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding: 50px;
		background-color: rgba(225, 235, 255, 0.4);
	}
}
