.board {
	display: grid;
	grid-template-areas: '. .'
		'. .'
		'calendar calendar';
	grid-gap: 10px;
	padding: 20px 20px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 15px 25px 0 rgba(0, 0, 150, 0.1);

	&__calendar {
		justify-self: stretch;
		grid-area: calendar;
	}

	&__currency {
		min-width: 250px;
	}
}

.board-currency {
	display: grid;
	grid-gap: 10px;

	&__title {
		margin: 0;
		text-align: center;
	}

	&__dropdown {
		max-width: 250px;
	}
}
